{%extends 'layout.html' %}

{% block content%}
<div class="container-fluid about">
    <div class="row">
        <h1 class="fs-1">Quem sou eu!</h1>
        <p>
            Nascido na cidade de Guaratinguetá - SP, onde morei até completar o ensino fundamental. Aos 16 anos mudei
            para São
            Carlos, durante o dia estudava confeitaria e marcenaria e o no período noturno cursava ensino médio.
            Ao 18 anos conquistei meu primeiro emprego na emprea Tecumseh do Brasil, onde trabalhei por 9 anos.
        </p>
        <p>
            Como todos os jovens o sonho de cursar a faculdade era enorme, sendo infuciente o aprendizado adiquirido no
            ensino fundamental e ensino médio que realizei em escola pública. Busquei conhecimento em curso pré
            vestibular, porém, o cansanço de trabalhar durante o dia todo não consegui acompanhar o cursinho, sempre me
            pegaga dormino durante as aulas do pré vestibular.
        </p>
        <p>
            Foi ai que prestei o enem e consegui uma bolsa do programa <b>PROUNI</b> para cursar Analise e
            Desenvolvimento de
            Sistema no Instituto Federal de Sáo Carlos - SP. Após primeiro ano de faculdade consegui meu primeiro
            emprego na área de tecnóligia onde trabalho como Analista de Suporte e sempre que posso busco conhecimento
            em programação.
        </p>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="fs-1 mt-5">​MAPFRE Seguros Gerais S.A</h1>
            <h3>Descrição:</h3>
            <p>
                Suporte remoto via Microsoft System Center, atendimento no sistema operacional Windows, instalação do
                pacote Office, Active Directory para alteração e criação de senhas e usuários, instalação e atualização
                dos sistemas via Ghost, configuração de rede e IP.
                Atendimento a colaboradores da companhia, utilizando a ferramenta de abertura e controle de chamados
                Remedy e HP Service Manager.
            </p>
            <div class="container about-container">
                <div class="row">
                    <div class="col pe-0">
                        <span class="about-data">Início</span>
                        <span class="ms-1">14/10/2014</span>
                    </div>
                    <div class="col">
                        <span class="about-data">Termino</span>
                        <span class="ms-2">Atual</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="fs-1 mt-5">INTERADAPT​ ​SOLUTIONS​ ​S.A</h1>
            <h3>Descrição:</h3>
            <p>
                ​Suporte remoto via (VNC), atendimento nos sistemas operacionais XP ao Windows Seven, instalação do
                pacote Office 2007 ao 2010, Active Directory para alteração e criação de senhas e usuários, instalação e
                atualização dos sistemas via Ghost, configuração de rede e IP.
                Atendimento a colaboradores da companhia, utilizando a ferramenta de abertura e controle de chamados
                Remedy.
            </p>
            <div class="container about-container">
                <div class="row">
                    <div class="col pe-0">
                        <span class="about-data">Início</span>
                        <span class="ms-1">23/09/2013</span>
                    </div>
                    <div class="col">
                        <span class="about-data">Termino</span>
                        <span class="ms-2">12/10/2014</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-4 img-home">
            <img src="/static/img/h_negocio.png" class="img-fluid" alt="">
        </div> -->
    <div class="row mt-0">
        <div class="col">
            <h1 class="fs-1 mt-5">​VETRO​ ​INDÚSTRIA​ ​COMERCIO​ ​E​ ​SERVIÇOS​ ​LTDA</h1>
            <h3>Descrição:</h3>
            <p>
                ​Suporte técnico ao usuário, manutenção em computadores, redes, servidores, telefonia e monitoramento.
            </p>
            <div class="container about-container">
                <div class="row">
                    <div class="col pe-0">
                        <span class="about-data">Início</span>
                        <span class="ms-1">18/12/2012</span>
                    </div>
                    <div class="col">
                        <span class="about-data">Termino</span>
                        <span class="ms-2">19/09/2013</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0">
        <div class="col">
            <h1 class="fs-1 mt-5">TECUMSEH​ ​DO​ ​BRASIL​ ​LTDA </h1>
            <h3>Descrição:</h3>
            <p>
                Organizar a linha de produção, alocar pessoas, distribuir as tarefas da equipe, viabilizar material para
                a produção, garantir o bom andamento do processo e o cumprimento dos prazos, metas e especificações
                técnicas estabelecidas, realizar testes de qualidade em compressores herméticos.
            </p>
            <div class="container about-container">
                <div class="row">
                    <div class="col pe-0">
                        <span class="about-data">Início</span>
                        <span class="ms-1">09/12/2002</span>
                    </div>
                    <div class="col">
                        <span class="about-data">Termino</span>
                        <span class="ms-2">04/01/2012</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5">
</div>
{% endblock %}