{%extends 'layout.html' %}

{% block content%}
<div class="container-fluid about">
    <div class="row">
        <h1 class="fs-1">Quem sou eu!</h1>
        <p>
            Nascido na cidade de Guaratinguetá - SP, onde morei até completar o ensino fundamental. Aos 16 anos mudei
            para São
            Carlos, durante o dia estudava confeitaria e marcenaria e o no período noturno cursava ensino médio.
            Ao 18 anos conquistei meu primeiro emprego na emprea Tecumseh do Brasil, onde trabalhei por 9 anos.
        </p>
        <p>
            Como todos os jovens o sonho de cursar a faculdade era enorme, sendo infuciente o aprendizado adiquirido no
            ensino fundamental e ensino médio que realizei em escola pública. Busquei conhecimento em curso pré
            vestibular, porém, o cansanço de trabalhar durante o dia todo não consegui acompanhar o cursinho, sempre me
            pegaga dormino durante as aulas do pré vestibular.
        </p>
        <p>
            Foi ai que prestei o enem e consegui uma bolsa do programa <b>PROUNI</b> para cursar Analise e
            Desenvolvimento de
            Sistema no Instituto Federal de Sáo Carlos - SP. Após primeiro ano de faculdade consegui meu primeiro
            emprego na área de tecnóligia onde trabalho como Analista de Suporte e sempre que posso busco conhecimento
            em programação.
        </p>
    </div>
    {% for dados in info_cv %}
        <div class="row">
            <div class="col">
                <h1 class="fs-1 mt-5">​{{dados['titulo']}}</h1>
                <h3>Descrição:</h3>
                <p>​{{dados['descricao']}}</p>
                <div class="container about-container">
                    <div class="row">
                        <div class="col pe-0">
                            <span class="about-data">Início</span>
                            <span class="ms-1">{{dados['inicio']}}</span>
                        </div>
                        <div class="col">
                            <span class="about-data">Termino</span>
                            <span class="ms-2">{{dados['termino']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- <div class="col-4 img-home">
        <img src="/static/img/h_negocio.png" class="img-fluid" alt="">
    </div> -->

    <hr class="mt-5">
</div>
{% endblock %}