{%extends 'layout.html' %}

{% block content%}
<div class="container-fluid">

    <div class="row">
        <div class="col-4">
            <img src="{{url_for('static', filename='img/default.jpeg')}}" alt=""
                class="rounded-circle account-img img-fluid">
        </div>
        <div class="col-8">
            <!-- <h1 >ID: {{ current_user.id }}</h1> -->
            <h1 class="display-1 text-danger">Olá!</h1>
            <h1 class="display-4">{{ user.nome}}</h1>
            <!-- <h1>E-mail: {{ current_user.email }}</h1> -->
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12">
            <div class="p-2 bg-light border rounded-3">
                <div class="row">
                    <div class="col-12 py-2 text-center"">
                        <h1 class=" fs-1">Aqui vocês pode acessar seus dados e dados dos medicamentos</h1>
                        <hr>
                    </div>
                </div>
                <!--  jumbotron -->
                <div class="row mt-3">
                    <div class="col-12">
                        <ul class="nav nav-pills mb-3 justify-content-center"" id=" pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-dados-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-dados" type="button" role="tab" aria-controls="pills-dados"
                                    aria-selected="true"><i class="fas fa-database me-2"></i>Meus dados</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-medicamento-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-medicamento" type="button" role="tab"
                                    aria-controls="pills-medicamento" aria-selected="false"><i class="fas fa-hand-holding-medical me-2"></i>Meus Medicamentos</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-med-vencido-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-med-vencido" type="button" role="tab"
                                    aria-controls="pills-med-vencido" aria-selected="false"><i class="fas fa-prescription-bottle-alt me-2"></i>Medicamentos
                                    vencidos</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-dados" role="tabpanel"
                                aria-labelledby="pills-dados-tab">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{formRegistro.username.label(class='form-label')}}
                                        {{formRegistro.username(class='form-control', disabled=true)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{formRegistro.cpf.label(class='form-label')}}
                                        {{formRegistro.cpf(class='form-control', disabled=true)}}
                                    </div>
                                </div> 
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        {{formRegistro.email.label(class='form-label')}}
                                        {{formRegistro.email(class='form-control', disabled=true)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{formRegistro.rua.label(class='form-label')}}
                                        {{formRegistro.rua(class='form-control', disabled=true)}}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-4">
                                        {{formRegistro.cidade.label(class='form-label')}}
                                        {{formRegistro.cidade(class='form-control', disabled=true)}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{formRegistro.cep.label(class='form-label')}}
                                        {{formRegistro.cep(class='form-control', disabled=true)}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{formRegistro.bairro.label(class='form-label')}}
                                        {{formRegistro.bairro(class='form-control', disabled=true)}}
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link btn btn-outline-primary" role="button"><i class="fas fa-pen me-3"></i>Atualizar Dados</a>
                                        </li>
                                        <!-- <li class="nav-item ms-2">
                                            <a href="#" class="nav-link btn btn-outline-secondary" role="button">Editar</a>
                                        </li> -->
                                        <!-- <li class="nav-item m-3">
                                            <a href="#" class="nav-link btn btn-outline-danger" role="button">Deletar</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="pills-medicamento" role="tabpanel"
                                aria-labelledby="pills-medicamento-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover align-middle">
                                                <thead class="text-center">
                                                    <th scope="col">ID</th>
                                                    <th scope="col">NOME</th>
                                                    <th scope="col">VALIDADE</th>
                                                    <th scope="col">PRINCIPIO ATIVO</th>
                                                    <th scope="col">POSOLOGIA</th>
                                                    <th scope="col">AÇÃO</th>
                                                </thead>
                                                <tbody>
                                                    {%for medicamento in medicamentos.items%}
                                                        <tr>
                                                            <th scope="row">{{medicamento.id}}</th>
                                                            <td>{{medicamento.nome}}</td>
                                                            <td>{{medicamento.data_validade.strftime('%d/%m/%Y')}}</td>
                                                            <td class="overflow-hidden">{{medicamento.principio_ativo}}</td>
                                                            <td>{{medicamento.posologia}}</td>
                                                            <td>
                                                                <a href="{{ url_for('medicine.view_medicamento', medicamento_id = medicamento.id)}}" class="btn btn-success btn-sm" role="button">Visualizar</a>
                                                            </td>
                                                            <!-- <td>
                                                                <button type="button" class="btn btn-danger btn-sm" >DELETE</button>
                                                            </td> -->
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                            {%for page_num in medicamentos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
                                                {% if page_num %}
                                                    {% if medicamentos.page == page_num %}
                                                        <a class="btn btn-info mb-3" href="{{ url_for('users.account', page=page_num) }}">{{page_num}}</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-info mb-3" href="{{ url_for('users.account', page=page_num) }}">{{page_num}}</a>
                                                    {% endif %}
                                                {% else %}
                                                    ...
                                                {% endif %}
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="nav justify-content-center">
                                            <li class="nav-item">
                                                <a href="{{url_for('medicine.medicamento')}}" class="nav-link btn btn-outline-primary" role="button"><i class="fas fa-pen me-3"></i>Cadastrar</a>
                                            </li>
                                            <!-- <li class="nav-item m-3">
                                                <a href="#" class="nav-link btn btn-outline-secondary" role="button">Editar</a>
                                            </li>
                                            <li class="nav-item m-3">
                                                <a href="#" class="nav-link btn btn-outline-danger" role="button">Deletar</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-med-vencido" role="tabpanel"
                                aria-labelledby="pills-med-vencido-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover align-middle">
                                                <thead class="text-center">
                                                    <th scope="col">ID</th>
                                                    <th scope="col">NOME</th>
                                                    <th scope="col">VALIDADE</th>
                                                    <th scope="col">PRINCIPIO ATIVO</th>
                                                    <th scope="col">POSOLOGIA</th>
                                                    <th scope="col">AÇÃO</th>
                                                </thead>
                                                <tbody>
                                                    {%for medicamento in medicamentos.items%}
                                                        <tr>
                                                            <th scope="row">{{medicamento.id}}</th>
                                                            <td>{{medicamento.nome}}</td>
                                                            <td>{{medicamento.data_validade.strftime('%d/%m/%Y')}}</td>
                                                            <td class="overflow-hidden">{{medicamento.principio_ativo}}</td>
                                                            <td>{{medicamento.posologia}}</td>
                                                            <td>
                                                                <a href="{{ url_for('medicine.view_medicamento', medicamento_id = medicamento.id)}}" class="btn btn-success btn-sm" role="button">Visualizar</a>
                                                            </td>
                                                            <!-- <td>
                                                                <button type="button" class="btn btn-danger btn-sm" >DELETE</button>
                                                            </td> -->
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                            {%for page_num in medicamentos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
                                                {% if page_num %}
                                                    {% if medicamentos.page == page_num %}
                                                        <a class="btn btn-info mb-3" href="{{ url_for('users.account', page=page_num) }}">{{page_num}}</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-info mb-3" href="{{ url_for('users.account', page=page_num) }}">{{page_num}}</a>
                                                    {% endif %}
                                                {% else %}
                                                    ...
                                                {% endif %}
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="nav justify-content-center">
                                            <li class="nav-item">
                                                <a href="{{url_for('medicine.medicamento')}}" class="nav-link btn btn-outline-primary" role="button"><i class="fas fa-pen me-3"></i>Cadastrar</a>
                                            </li>
                                            <!-- <li class="nav-item m-3">
                                                <a href="#" class="nav-link btn btn-outline-secondary" role="button">Editar</a>
                                            </li>
                                            <li class="nav-item m-3">
                                                <a href="#" class="nav-link btn btn-outline-danger" role="button">Deletar</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}