<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/compiler/bootstrap.css')}}">

    <!-- Fontawesome 5 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css')}}">

    {% if title %}
    <title>Meu site - {{title}}</title>
    {% else %}
    <title>Meu site</title>
    {% endif %}
</head>

<body>
    <section id="{% if title == 'Home' %}title{% else %}site{% endif %}">
        <!-- Nav Bar -->
        <div class="container-fluid">

            <div class="row">
                <nav
                    class="navbar navbar-expand-lg {% if title == 'Home' %} navbar-dark {% else %}navbar-light{% endif %} px-3">
                    <a href="/" class="navbar-brand">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a href="{{url_for('rota.about')}}" class="nav-link">Sobre</a></li>
                            <li class="nav-item"><a href="{{url_for('rota.contato')}}" class="nav-link">Contato</a></li>
                            {% if current_user.is_authenticated %}
                                <li class="nav-item"><a href="{{url_for('rota.account')}}" class="nav-link">Meus dados</a></li>
                                <li class="nav-item"><a href="{{url_for('rota.logout')}}" class="nav-link">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a href="{{url_for('rota.login')}}" class="nav-link">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </section>
    <section id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages%}
                    <div class="alert alert-{{ category }} text-center">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </section>
    
    
    <section id="footer" class="about-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col align-self-start">
                    <a href="https://www.facebook.com/joseedmar.siqueira.9/" target="_blank"><img
                            src="{{url_for('static', filename='/img/face.png')}}" class="img-fluid imagem"
                            alt="Imagem do facebook"> </a>
                </div>
                <div class="col align-self-center">
                    <a href="https://github.com/jesiqueira" target="_blank"><img
                            src="{{url_for('static', filename='/img/guit_nova.png')}}" class="img-fluid imagem"
                            alt="Imagem do guithub"> </a>
                </div>
                <div class="col align-self-end">
                    <a href="https://www.linkedin.com/in/jos%C3%A9-edmar-siqueira-651a4b177/" target="_blank"><img
                            src="{{url_for('static', filename='/img/linkedin_100.png')}}" class="img-fluid imagem"
                            alt="Imagem do linkedin"> </a>
                </div>
            </div>
            <div class="row">
                <h6 class="text-center fs-4 copyright">Copyright &copy; Setembro de 2021</h6>
            </div>
        </div>
    </section>

    <!-- Popper and Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script>
</body>

</html>