{%extends 'layout.html' %}

{% block content%}
<div class="container-fluid">

    <main class="form-signin">
        <form action="" method="POST">
            {{ form.hidden_tag()}}
            <h1 class="h3 mb-4 fw-normal">Trocar Senha</h1>

            <div class="form-floating mb-3">
                {{form.password(class='form-control', placeholder="Digite seu password")}}
                {{form.password.label()}}
            </div>
            <div class="form-floating mb-3">
                {{form.confirm_password(class='form-control', placeholder="Confirme o password")}}
                {{form.confirm_password.label()}}
            </div>
            </div> -->
            {{form.submit(class="w-100 btn btn-lg btn-primary mb-5")}}
        </form>
    </main>

</div>
{% endblock %}